.card{
    padding: 10px;
    margin: 30px;
    height: 150px;
    width: auto;
    border: solid 1px black;
    border-radius: 20px;

}
.p{
    font-style: bold;
    font-size: 20px;
    padding: 5px;
    text-align: center;

}

.img{
    height: 100px;
    width: auto;
    border-radius: 20px;
}


@media screen and (min-width: 400px) and (max-width: 620px) {
    .cante_nar{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 10px; 
        cursor: all-scroll;
    }
    .card:hover{
        border:solid 2px blue;
        box-shadow: 0px 0px 5px 0px blue;
        height: 152px;
        width: auto;
        transition-duration: 0.2s;
    }
    
}





@media screen and (min-width: 621px) and (max-width: 950px) {
    .cante_nar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px; 
        cursor: all-scroll;
        position: relative;

    }
    .card:hover{
        border:solid 2px blue;
        box-shadow: 0px 0px 5px 0px blue;
        height: 152px;
        width: 400px;
        transition-duration: 0.2s;
    }
    

}






        
@media screen and (min-width: 950px) and (max-width: 1700px) {

    .cante_nar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left; 

    }
    .p{
        display: none;
    }
    .card:hover{
        border:solid 2px blue;
        box-shadow: 0px 0px 5px 0px blue;
        height: 152px;
        width: 400px;
        .p{
            display: contents;
            text-align: center;
            
        }
        transition-duration: 0.2s;
    }
}